.fashion-nav{
    margin-right: 0px !important;
}
.fashion-button:focus{
    box-shadow: 0 0 0 1px !important;
}
.search{
    background-color: darkgray !important;
    border: 0px solid !important;
}
.search:focus{
    box-shadow: none !important;
}
.search::placeholder{
    color: white !important;
}